@font-face {
    font-family: 'Ogg Italic';
    src: url('https://static.tumblr.com/plmkxw9/6gMr7p1st/ogg-italic-webfont.woff2') format('woff2'),
         url('https://static.tumblr.com/plmkxw9/ggsr7p1pm/ogg-italic-webfont.woff') format('woff'),
         url('https://static.tumblr.com/plmkxw9/tJur7p1ut/ogg-italic-webfont.ttf')  format('truetype');
}




@font-face {
    font-family: 'Ogg';
    src: url('https://static.tumblr.com/plmkxw9/ksQr7p1qv/ogg-roman-webfont.woff2') format('woff2'),
         url(https://static.tumblr.com/plmkxw9/pz6r7p1ry/ogg-roman-webfont.woff') format('woff'),
         url('https://static.tumblr.com/plmkxw9/Yl4r7p1ty/ogg-roman-webfont.ttf')  format('truetype'); 
}

