@font-face {
    font-family: 'Ogg Italic';
    src: url('https://github.com/yeosangs/ogg/blob/eaa2eb59053a8caad3849574661f966f5a6f6d3f/ogg-italic-webfont.woff2') format('woff2'),
         url('https://github.com/yeosangs/ogg/blob/eaa2eb59053a8caad3849574661f966f5a6f6d3f/ogg-italic-webfont.woff') format('woff'),
         url('https://github.com/yeosangs/ogg/blob/62a60b36751aa1c4618c2d6991dfe05dc7f76f7e/ogg-italic-webfont.ttf')  format('truetype');
}




@font-face {
    font-family: 'Ogg';
    src: url('https://github.com/yeosangs/ogg/blob/eaa2eb59053a8caad3849574661f966f5a6f6d3f/ogg-roman-webfont.woff2') format('woff2'),
         url('https://github.com/yeosangs/ogg/blob/eaa2eb59053a8caad3849574661f966f5a6f6d3f/ogg-roman-webfont.woff') format('woff'),
         url('https://github.com/yeosangs/ogg/blob/62a60b36751aa1c4618c2d6991dfe05dc7f76f7e/ogg-roman-webfont.ttf')  format('truetype'); 
}
